main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;
}

h2{
  text-align: center;
  margin: 0rem;
}

p{
  margin-top: 0px;
}

p#time{
  font-weight: bold;
}

h4{
  background-color: var(--main);
  color: var(--text);
  text-align:center;
  padding: .5em 0;
  margin-bottom: 10px;
  width: 100%
}

.photo{
  height: 10rem;
  width: 10rem;
  border-radius: 10rem;
  margin-bottom: 0.5rem;
  background-color: rgb(197, 194, 194);
}

img.photo{
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
}

ul.accords{
  list-style: none;
  padding: 0 5vw;
  width: 100%;

  li{
    margin-top: 10px;
  }
}