<main *ngIf="recipe">
  <h2>{{recipe.name}}</h2>
  <p id="time">{{recipe.time}} <i class="pi pi-clock"></i></p>

  <img *ngIf="recipe.img != null" src="{{img_url}}" class="photo">
  <div *ngIf="recipe.img == null" id="notImg" class="photo"></div>

  <h4>Accords avec vin</h4>
  <ul class="accords">
    <li *ngFor="let wine of accords">
      <listElem [title]="wine.title" [description]="wineDescription(wine)"
                [img]="wine.img" [link]="getLink(wine)"></listElem>
    </li>
  </ul>


  <h4>Préparation</h4>
  <p>{{recipe.preparation}}</p>

</main>
