/* You can add global styles to this file, and also import other style files */
:root{
  --main: #971248;
  --text: white;
}

body{
  margin: 0;
}

main{
  padding: 1vh 2vw 0 2vw;
  font-family: 'Roboto', sans-serif;
}
