$size: 3.5rem;

a.listElem{
    display: flex;
    padding: 1vh 0;
    border-bottom: thin black solid;
    color: black;
    text-decoration: none;

    div#notImg, img{
        height: $size;
        width: $size;
        border-radius: $size;
        background-color: lightgray;
        flex-shrink: 0;
    }

    div.info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 10px;

        span.title{
            font-weight: bold;
        }

        span.desc{
            font-size: .85em;
        }
    }

    div.icon{
        align-self: center;
        display: flex;
        align-items: center;
        margin-left: auto;

        span{
            font-weight: bold;
            font-size: .95em;
        }

        i{
            font-size: 1.75rem;
            margin-left: 3px;
        }
    }
}
