<a class="listElem" routerLink="{{link}}">
    <img *ngIf="img != null" src="{{img_url}}">
    <div *ngIf="img == null" id="notImg"></div>

    <div class="info">
        <span class="title">{{title}}</span>
        <span class="desc">{{description}}</span>
    </div>

    <div *ngIf="icon != null" class="icon">
        <span>{{iconTxt}}</span>
        <i class="pi {{icon}}"></i>
    </div>
</a>
