<main>
  <h2>Ajouter une recette</h2>

  <div id="upload">
    <input id="inputFile" type="file" accept="image/*" (change)="onFileChange($event)">
    <i class="pi pi-image pi-upload" (click)="openInput()"></i>
    <span></span>
  </div>

  <input [(ngModel)]="name" type="text" placeholder="Nom" pInputText/>
  <input [(ngModel)]="time" type="text" placeholder="Temps" pInputText/>

  <p-selectButton [options]="colors" [(ngModel)]="selectedColor"
    multiple="multiple" optionLabel="name" optionValue="code"></p-selectButton>

  <textarea [rows]="5" [cols]="30" pInputTextarea [(ngModel)]="description"
    autoResize="autoResize" placeholder="Préparation"></textarea>

  <button pButton type="button" label="Ajouter" (click)="submitForm()"></button>
</main>
