main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2{
  text-align: center;
  margin-top: 0;
}

button#filter{
  margin: 2vh 10vw 0 10vw;
  // width: 0vw;
  background-color: var(--main);
  border: transparent;
}

span#searchInput{
  margin-left: 10vw;

  input{
    width: 76vw;
  }
}

ul.wineList{
  list-style: none;
  padding: 0 5vw;

  li{
    margin-top: 10px;
  }
}

div#filterdiv{
  background-color: rgb(204, 204, 204);
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  div.date{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    width: 80%;
    input{
      width: 5em;
    }
  }

  button#filtre{
    margin-bottom: 10px;
    background-color: var(--main);
    border: transparent;
  }

  p-slider{
    width: 300px;
    margin-bottom: 20px;
  }
  p-multiSelect{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    margin-bottom: 20px;
  }
}