<main>
  <h2>Liste des vins</h2>

  <span id="searchInput" class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input type="text" pInputText [(ngModel)]="search" placeholder="Rechercher un vin">
  </span>

  <button id="filter" pButton type="button" label="Afficher les filtres" (click) = 'showFilters = !showFilters' ></button>
  <div id="filterdiv" *ngIf='showFilters'>
    <h3>Type de Vin</h3>
    <table>
      <tr>
        <td><p-triStateCheckbox [(ngModel)]="type1" label="Rouge"></p-triStateCheckbox></td>
        <td><p-triStateCheckbox [(ngModel)]="type2" label="Blanc"></p-triStateCheckbox></td>
      </tr>
      <tr>
        <td><p-triStateCheckbox [(ngModel)]="type3" label="Rosé"></p-triStateCheckbox></td>
        <td><p-triStateCheckbox [(ngModel)]="type4" label="Pétillant"></p-triStateCheckbox></td>
      </tr>
    </table>
    
    <h3>Provenances</h3>
    <p-dropdown [options]="origin" [(ngModel)]="selectedOrigin" name="origin"></p-dropdown>
    
    <h3>Date</h3>
    <div class="date">
      <input [(ngModel)]="rangeValues[0]" type="number">
      <span>Jusqu'à</span>
      <input [(ngModel)]="rangeValues[1]" type="number">
    </div>
  
    <p-slider [(ngModel)]="rangeValues" [range]="true" [min]="1900" [max]="2021"></p-slider>
    <button id="filtre" pButton tye="button" label="Filtrer"></button>
  </div>


  <ul class="wineList">
    <li *ngFor="let wine of wineList">
      <listElem [title]="wine.title" [description]="wineDescription(wine)"
                [img]="wine.img" [link]="getLink(wine)"></listElem>
    </li>
  </ul>
</main>
