main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5vw
}

h2{
  text-align: center;
  margin-top: 0;
}

span#searchInput{
  margin-left: 10vw;

  input{
    width: 76vw;
  }
}

ul{
  list-style: none;
  padding: 0;

  li{
    margin-top: 10px;
  }
}
