<main>
  <h2>Liste des recettes</h2>

  <span id="searchInput" class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input type="text" pInputText [(ngModel)]="search" placeholder="Rechercher une recette">
  </span>

  <ul class="recipeList">
    <li *ngFor="let recipe of recipeList">
      <listElem [title]="recipe.name" [icon]="'pi-clock'" [iconTxt]="recipe.time"
                [img]="recipe.img" [link]="getLink(recipe)"></listElem>
    </li>
  </ul>
</main>
