main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2vh 15vw;
}

main>*{
  margin-bottom: 10px;
}

h2{
  text-align: center;
  margin-top: 0.2rem;
}

p-selectButton, p-checkbox{
  display: flex;
  justify-content: center;
}

:host ::ng-deep{
  .p-inputnumber, .p-dropdown{
    width: 100%;
  }
}

button{
  background-color: var(--main);
  border: transparent;
}

div#upload{
  display: flex;
  justify-content: center;
  align-items: center;

  input{
    display: none;
  }

  i{
    background-color: cornflowerblue;
    color: black;
    font-size: 1.5rem;
    padding: 1.5rem;
    border-radius: 3rem;
    cursor: pointer;
  }

  span{
    margin-left: 5px;
  }
}
