<main>
  <h2>Ajouter un vin</h2>

  <div id="upload">
    <input id="inputFile" type="file" accept="image/*" (change)="onFileChange($event)">
    <i class="pi pi-image pi-upload" (click)="openInput()"></i>
    <span></span>
  </div>

  <input [(ngModel)]="name" type="text" placeholder="Nom" pInputText/>

  <p-selectButton [options]="colors" [(ngModel)]="selectedColor" optionLabel="name" optionValue="code"></p-selectButton>
  <p-checkbox [(ngModel)]="petillant" [binary]="true" label="Pétillant"></p-checkbox>

  <p-dropdown [options]="origin" [(ngModel)]="selectedOrigin" name="origin"
    placeholder="Provenance" editable="true" optionValue="value"></p-dropdown>
  <input type="text" placeholder="Domaine" pInputText [(ngModel)]="domaine"/>
  <input type="text" placeholder="Cépage" pInputText [(ngModel)]="grape_variety"/>

  <p-inputNumber [(ngModel)]="year" [useGrouping]="false" prefix="Production : "
    [showButtons]="true" [min]="1900" [max]="actual_year"></p-inputNumber>

  <textarea [rows]="5" [cols]="30" pInputTextarea [(ngModel)]="description"
    autoResize="autoResize" placeholder="Description"></textarea>

  <button pButton type="button" label="Ajouter" (click)="submitForm()"></button>
</main>
