<header>
  <i class="pi pi-ellipsis-v" (click)="displaySideBar=true"></i>
  <h1><a routerLink="">{{title}}</a></h1>
  <img src="/assets/logo.png" alt="logo"/>
</header>

<p-toast position="top-center"></p-toast>

<p-sidebar [(visible)]="displaySideBar">
    <h2>{{title}}</h2>
    <ul>
      <li *ngFor="let l of links">
        <i class="pi pi-chevron-right"></i>
        <a routerLink="{{l.url}}" (click)="displaySideBar=false">{{l.label}}</a>
      </li>
    </ul>
</p-sidebar>
