header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main);
  color: var(--text);
  padding: 0 2vw;
  height: 10vh;
  width: 100vw;

  img{
    max-height: 8vh;
    border-radius: 4vh;
    background-color: #eee;
  }

  i{
    font-size: 1.2rem;
    font-weight: bold;
  }

  h1 a{
    text-decoration: none;
    color: var(--text);
  }
}

:host ::ng-deep {
  .p-toast{
    width: 95vw;
    margin-left: 0;
    transform: translateX(-50%);
  }

  .p-sidebar{
    h2{
      color: var(--main);
    }

    ul{
      padding: 0;
      list-style: none;
      font-family: "Roboto", sans-serif;

      li{
        font-size: 1.2rem;
        margin-bottom: 1rem;

        a{
          text-decoration:none;
          color: #495057;// default value of primeng
          font-weight: bold;
        }

        i{
          margin-right: .8rem;
          vertical-align: baseline;
        }
      }
    }
  }
}
