<main>
  <h2>{{login ? 'Connexion' : 'Inscription'}}</h2>

  <span class="p-float-label">
    <input id="username" type="text" pInputText [(ngModel)]="username">
    <label for="username">Nom d'utilisateur</label>
  </span>
  <span class="p-float-label">
    <input id="password" type="password" pPassword [(ngModel)]="password"
        [feedback]="!login" (keyup.enter)="login ? loginFct() : register()"/>
    <label for="password">Mot de passe</label>
    <i class="pi pi-eye" (click)="showPwd()"></i>
  </span>

  <button *ngIf="login" class="btn" pButton type="button" label="Se connecter" (click)="loginFct()"></button>
  <a *ngIf="login" class="btn" pButton type="button" label="S'inscrire" routerLink="/inscription"></a>

  <button *ngIf="!login" class="btn" pButton type="button" label="S'inscrire" (click)="register()"></button>
  <a *ngIf="!login" class="btn" pButton type="button" label="Se connecter" routerLink="/connexion"></a>
</main>
