main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2{
  margin-top: 2rem;
}

.btn{
  width: 80%;
  margin-bottom: .8rem;
  background-color: var(--main);
  border: transparent;
  text-decoration: none;
  }

.p-float-label{
  width: 80%;
  margin-bottom: 1.4rem;

  input{
    width: 100%
  }

  i.pi{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    padding: .5em;
    cursor: pointer;
  }
}
