main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;
}

h2{
  text-align: center;
  margin-top: 0.2rem;
}

.photo{
  height: 10rem;
  width: 10rem;
  border-radius: 10rem;
  margin-bottom: 0.5rem;
  background-color: rgb(197, 194, 194);
}

img.photo{
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
}

i{
  font-size: 2rem;
  padding-right: 0.2rem;
  padding-top: 0.2rem;
  position: absolute;
  top: 1vh;
  right: 2vw;
}

p{
  margin: 0px;
}


table {
  border-collapse: collapse;
  width: 100%;

  tr:nth-child(even){
    background: #f1f1f1;
  }

  tr{
    border-bottom: thin solid #999;
  }

  td{
    padding: .75em 0;
    text-align: center;
    font-weight: bold;
    width: 50%;
  }

  td:nth-child(even){
    font-weight: normal;
  }
}


h4{
  background-color: var(--main);
  color: var(--text);
  text-align:center;
  padding: .5em 0;
  margin-bottom: 10px;
  width: 100%
}

ul.recipes{
  list-style: none;
  padding: 0 5vw;
  width: 100%;

  li{
    margin-top: 10px;
  }
}