<main *ngIf="wine">

    <i [ngClass]="['pi', wine.fav ? 'pi-star':'pi-star-o']" *ngIf="userService.connected"
    [ngStyle]="{'color': wine.fav ? '#ffd600':'#999'}" (click)="addFav()"></i>
    <h2>{{wine.title}}</h2>

    <img *ngIf="wine.img != null" src="{{img_url}}" class="photo">
    <div *ngIf="wine.img == null" class="photo"></div>

    <h4>Description</h4>
    <p>{{wine.description}}</p>

    <h4>Caractéristiques</h4>
    <table>
        <tr>
            <td>Provenance</td>
            <td>{{wine.origin}}</td>
        </tr>
        <tr>
            <td>Domaine</td>
            <td>{{wine.domain}}</td>
        </tr>
        <tr>
            <td>Cépage</td>
            <td>{{wine.grape_variety}}</td>
        </tr>
        <tr>
            <td>Type</td>
            <td>{{wine.color}}</td>
        </tr>
        <tr>
            <td>Pétillant</td>
            <td>{{wine.bubble ? "Oui" : "Non"}}</td>
        </tr>
        <tr>
            <td>Année</td>
            <td>{{wine.year}}</td>
        </tr>
    </table>

    <h4>Idées recette</h4>
        <ul class="recipes">
            <li *ngFor="let recipe of recipes">
                <listElem [title]="recipe.name" [icon]="'pi-clock'" [iconTxt]="recipe.time"
                [img]="recipe.img" [link]="getLink(recipe)"></listElem>
            </li>
        </ul>

</main>
